<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Media</key>
	<dict>
		<key>SoundFont</key>
		<array>
			<string>SF2/AcousticGuitar</string>
		</array>
	</dict>
</dict>
</plist>
