<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>C4</string>
		<key>value</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>C#4</string>
		<key>value</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>D4</string>
		<key>value</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>D#4</string>
		<key>value</key>
		<integer>51</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>E4</string>
		<key>value</key>
		<integer>52</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>F4</string>
		<key>value</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>F#4</string>
		<key>value</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>G4</string>
		<key>value</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>G#4</string>
		<key>value</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>A4</string>
		<key>value</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>A#4</string>
		<key>value</key>
		<integer>58</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>B4</string>
		<key>value</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>C5</string>
		<key>value</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>C#5</string>
		<key>value</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>D5</string>
		<key>value</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>D#5</string>
		<key>value</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>E5</string>
		<key>value</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>F5</string>
		<key>value</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>F#5</string>
		<key>value</key>
		<integer>66</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>G5</string>
		<key>value</key>
		<integer>67</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>G#5</string>
		<key>value</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>A5</string>
		<key>value</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>A#5</string>
		<key>value</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>B5</string>
		<key>value</key>
		<integer>71</integer>
	</dict>
</array>
</plist>
