<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Quiz</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>midi</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.uscradiogroup.midi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>mid</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.uscradiogroup.midi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1664880783808986</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.moodles.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moodles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>775d98e805f2971de24aada6a209c8b9b7b47b86</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>Q4Yzwy2UOtJ4xfSqqG7pgEAH1</string>
					<key>consumerSecret</key>
					<string>xrnhQeStFdjh9QKETUK9gtV86KytwMtvKp66CKJyyEgRmmyYG9</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1664880783808986</string>
	<key>FacebookDisplayName</key>
	<string>Mood­l­e­s­Test</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the microphone so that we can record sounds.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Campton-Bold.otf</string>
		<string>Campton-Light.otf</string>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Heavy.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>SF-UI-Display-Thin.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>midi</string>
			<key>UTTypeIdentifier</key>
			<string>org.uscradiogroup.midi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mid</string>
					<string>midi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>mid</string>
			<key>UTTypeIdentifier</key>
			<string>org.uscradiogroup.midi</string>
		</dict>
	</array>
	<key>branch_app_domain</key>
	<string>moodles.app.link</string>
	<key>branch_key</key>
	<string>key_live_gbva5K8MG2dx28lEIne1SmlfxvdlcPsB</string>
</dict>
</plist>
